include ../utils/mixins
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="icon" type="image/png" sizes="16x16" href="https://bandaumnikov.ru/favicons/favicon-16x16.png")
		link(rel="icon" type="image/png" sizes="32x32" href="https://bandaumnikov.ru/favicons/favicon-32x32.png")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
		link(rel="stylesheet" href="css/style.css")
		block title
	body.banners
		block content
		script(src="https://cdn.jsdelivr.net/npm/vue")
		script(src="js/script.js")