//fonts

$ProximaRegular: 'Proxima Regular', 'Helvetica Neue', 'Arial', sans-serif;
$ProximaBold: 'Proxima Bold', 'Helvetica Neue', 'Arial', sans-serif;
$UmnikBold: 'Umnik Bold', 'Helvetica Neue', 'Arial', sans-serif;

//colors

$white: white;
$darkYellow: #fbb100;
$pink: #ff0072;