.banner-2.banners__banner-2
	a(href="https://bandaumnikov.ru/product/zverobukvy-english" class="banner-2__image-wrap")
		img(src="../img/banner-2_bg.png" class="banner-2__image")
	a(href="https://bandaumnikov.ru/product/zverobukvy-english").btn.banner-2__btn.btn--pink ПОДРОБНЕЕ