.banners__banner-2{
	float: right;
	@media (max-width: 1199px){
		float: none;
	}
}
.banner-2{
	position: relative;
	display: flex;
	max-width: 564px;
	&__image-wrap{
		display: inherit;
	}
	&__image{
		width: 100%;
		align-self: center;
	}
	&__btn{
		position: absolute;
		bottom: 7.5%;
		right: 6%;
		width: 25.18% !important;
		height: 14.63% !important;
		@media (max-width:593px){
			font-size: 3vw !important;
		}
	}
}